ffmpeg-python
mediapipe
moviepy
ultralytics
IPython
av
omegaconf
opencv-python
lpips
torchmetrics
torchtyping
tqdm
torch
torchvision
torchaudio
transformers
diffusers
einops
#facenet_pytorch
#controlnet-aux
