ffmpeg-python
mediapipe
moviepy
ultralytics
#moviepy==2.1.1
IPython
av
omegaconf
opencv-python
icecream
lpips
torchmetrics
torchtyping
tqdm
ffmpeg-python
#torch
#torchvision
#torchaudio
#mediapipe
#transformers>=4.38.2
#diffusers==0.24.0
#facenet_pytorch==2.5.0
#einops==0.4.1

